<?xml version="1.0"?>
<!--
/**
 * Google Tag Manager
 *
 * Copyright © MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.magepal.com | support@magepal.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="magepal_gtm_googleanalytics_order_success" instance="MagePal\GoogleTagManager\Observer\Frontend\OrderSuccessPageViewObserver" />
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="magepal_gtm_googleanalytics_order_success" instance="MagePal\GoogleTagManager\Observer\Frontend\OrderSuccessPageViewObserver" />
    </event>
</config>
