<?xml version="1.0"?>
<!--
/**
 * Google Tag Manager
 *
 * Copyright © MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.magepal.com | support@magepal.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepal" translate="label" sortOrder="400">
            <label>MagePal</label>
        </tab>
        <section id="googletagmanager" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Tag Manager</label>
            <tab>magepal</tab>
            <resource>MagePal_GoogleTagManager::googletagmanager</resource>
            <group id="about" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <label>About MagePal Google Tag Manager</label>
                <attribute type="expanded">1</attribute>
                <comment>
                  <![CDATA[
                    <strong>Copyright © 2018 <a href="http://bit.ly/MPEXGTM" target="_blank">www.magepal.com</a> / <a href="mailto:support@magepal.com">support@magepal.com</a></strong><br />
                    Thanks for choosing MagePal Extensions. Trusted by 1000s of developers worldwide.<br/><br/>
                    Want to track more? Upgrade to our new <a href="http://bit.ly/MPE-EEGTM">Enhanced E-commerce for Google Tag Manager</a>
                    to take full advantage of Google Analytics most powerful e-commerce features. Gain valuable insight and increase your conversion rate by leveraging Google Enhanced Ecommerce
                    to understand the value of each user actions and behaviors.<br/><br/>
                    <hr style="border-top: 1px solid #e3e3e3" />
                  ]]>
                </comment>
                <field id="module_version" translate="label" type="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Version</label>
                    <frontend_model>MagePal\GoogleTagManager\Block\Adminhtml\System\Config\Form\Module\Version</frontend_model>
                </field>
                <field id="composer_version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Version</label>
                    <frontend_model>MagePal\GoogleTagManager\Block\Adminhtml\System\Config\Form\Composer\Version</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Tag Manager</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="account" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
